/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
yarn-debug.log
.DS_Store
Thumbs.db
*.log
*.sqlite
*.sqlite-journal
/.idea
/.vscode
/.nova
/.zed
/.cursor/
/.codex
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpactor.json
